/* NavBar.css */

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap");

.navbar {
  background-color: #1a1a1a;
  padding: 1rem 0;
  border-bottom: 1px solid #333;
}

.navbar-nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.nav-link {
  font-family: "Playfair Display", serif; /* Use a more elegant font */
  font-size: 1.2rem; /* Slightly larger font size */
  color: #e0e0e0;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  transition: color 0.3s, border-bottom 0.3s;
  border-bottom: 2px solid transparent;
  cursor: pointer; /* Add pointer cursor */
}

.nav-link:hover {
  color: #d90429;
  border-bottom: 2px solid #d90429; /* Add a bottom border on hover */
}

.nav-link.active {
  color: #d90429;
  border-bottom: 2px solid #d90429; /* Indicate active link */
  cursor: default;
}
