.navbar-brand {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.navbar-toggler {
  background: none;
  border: none;
}

.navbar-toggler svg {
  fill: #e0e0e0;
}

.nav-link {
  color: #e0e0e0;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #d90429;
  cursor: pointer;
}

.nav-link.active {
  color: #d90429 !important;
  cursor: default;
  font-weight: bold;
}
